<!-- 2.24 Property binding
  [property] Indicates to Angular that this property gonna be managed by
  (component).ts script

  2.25 Property binding vs String interpolation
  We should use STRING INTERPOLATION if we want output something in our template
  We should use PROPERTY BINDING if we want change HTML properties
  PROPERTY BINDING works with normal HTML expression. DO NOT USE "{{}}"

  2.26 Event Binding
  (HtmlEvent) = "methodName()"

  2.28 Passing and using data with event bilding
  When you send $event you're sending the event with all data about this event.
-->

<!--
2.28 Passing and using data with event bilding
<label>Server name</label>
<input type="text" class="form-control" (input) = "onUpdateServerName($event)" >
<p>{{ serverName }}</p> -->

<!--
  2.29 Two ways databilding
  ngModel: Directive, use @angular/forms (added by default :P). It's the simple
  way to bilding data in two directions

-->

<label>Server name</label>
<input type="text" class="form-control" [(ngModel)] = "serverName" >
<!-- 2.29 <p>{{ serverName }}</p> -->

<button type="button" class="btn btn-primary"
  [disabled] = "!allowNewServer"
  (click) = "onCreateServer()" >Add Server</button>
<!-- 2.29 <p>{{ serverCreationStatus }}</p> -->
<!-- 2.34 Else with *ngIf
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template> -->
<!-- 2.35 Styling elements dynamically with ngStyle
  Unlike structural directives, attribute directives don't add or remove elements.
  They olny change the element were they placed on
-->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>
